/* common class*/
.content-box {
  width: 1200px;
  margin: 0 auto;
}
/* const content padding */
.pad-bottom {
  padding: 0 0 100px 0;
}
/*css sprites
  @width：图标宽度
  @height：图标高度
  @posit-x：图标在x轴位置
  @posit-y：图标在y轴位置
*/
/*common styles for background pictrue scroll*/
@keyframes bg-move {
  from {
    background-position: center -100px;
  }
  to {
    background-position: center 0;
  }
}
@-webkit-keyframes bg-move {
  from {
    background-position: center -100px;
  }
  to {
    background-position: center 0;
  }
}
@keyframes bg-moves {
  from {
    background-position: center 0;
  }
  to {
    background-position: center -50px;
  }
}
@-webkit-keyframes bg-moves {
  from {
    background-position: center 0;
  }
  to {
    background-position: center -50px;
  }
}
* {
  font-family: MicrosoftYaHei;
}
.nopad {
  padding-right: 0!important;
}
html,
body {
  font-family: MicrosoftYaHei;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html .main,
body .main {
  width: 100%;
  background: #ffffff;
  min-width: 1200px;
}
html .main header,
body .main header {
  width: 100%;
  height: 66px;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999;
}
html .main header .headCon_box,
body .main header .headCon_box {
  z-index: 9999;
  opacity: 1;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  /* Safari and Chrome */
}
html .main header .headCon_box .logo,
body .main header .headCon_box .logo {
  display: inline-block;
  line-height: 85px;
}
html .main header .headCon_box .logo a,
body .main header .headCon_box .logo a {
  display: block;
}
html .main header .headCon_box .logo a img,
body .main header .headCon_box .logo a img {
  width: 145px;
  height: 30px;
}
html .main header .headCon_box .menulist,
body .main header .headCon_box .menulist {
  width: auto;
  float: right;
}
html .main header .headCon_box .menulist ul,
body .main header .headCon_box .menulist ul {
  margin: 0;
  padding: 15px;
}
html .main header .headCon_box .menulist ul li,
body .main header .headCon_box .menulist ul li {
  position: relative;
  color: #ffffff;
  width: auto;
  line-height: 35px;
  float: left;
}
html .main header .headCon_box .menulist ul li .sub_menu,
body .main header .headCon_box .menulist ul li .sub_menu {
  display: none;
  width: 222px;
  position: absolute;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  left: -48px;
}
html .main header .headCon_box .menulist ul li .sub_menu ul,
body .main header .headCon_box .menulist ul li .sub_menu ul {
  display: inline;
  padding: 0!important;
}
html .main header .headCon_box .menulist ul li .sub_menu ul li a,
body .main header .headCon_box .menulist ul li .sub_menu ul li a {
  width: 200px;
  line-height: 50px;
  color: #333333;
  padding: 0;
  padding-left: 22px;
}
html .main header .headCon_box .menulist ul li .sub_menu ul li a:hover,
body .main header .headCon_box .menulist ul li .sub_menu ul li a:hover {
  background: #0253ba;
  color: #ffffff;
}
html .main header .headCon_box .menulist ul li:hover .sub_menu,
body .main header .headCon_box .menulist ul li:hover .sub_menu {
  display: block;
}
html .main header .headCon_box .menulist ul li a,
body .main header .headCon_box .menulist ul li a {
  font-size: 14px;
  padding: 0 35px;
  display: block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
html .main header .headCon_box .menulist ul li a .role,
body .main header .headCon_box .menulist ul li a .role {
  display: block;
  position: absolute;
  left: 50%;
  border-bottom: 2px solid #ffffff;
  transform: translate(-50%);
}
html .main header .headCon_box .menulist ul li a:hover .role,
body .main header .headCon_box .menulist ul li a:hover .role {
  display: block;
  animation: nav_move .3s linear forwards;
  /* Safari and Chrome */
  -webkit-animation: nav_move .3s linear forwards;
  border-bottom: 2px solid #ffffff;
}
@keyframes nav_move {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes nav_move {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
html .main header .headCon_box .active,
body .main header .headCon_box .active {
  border-bottom: 2px solid #ffffff !important;
}
/*common animate button*/
.animate-button {
  display: block;
  position: relative;
  animation: animate-btn 2s infinite;
  -moz-animation: animate-btn 2s infinite;
  /* Firefox 4 */
  -webkit-animation: animate-btn 2s infinite;
  /*Safari and Chrome*/
}
@keyframes animate-btn {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
@-moz-keyframes animate-btn {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
@-webkit-keyframes animate-btn {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
/*common animate pictrue*/
.animate-pictrue {
  display: block;
  position: relative;
  cursor: pointer;
  transition: all 0.6s;
  -moz-transition: width 0.6s;
  /* Firefox 4 */
  -webkit-transition: all 0.6s;
  /*Safari and Chrome*/
}
.animate-pictrue:hover {
  transform: scale(1.1);
}
/*info center*/
.info-center {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
.info-center .info-lists {
  padding: 50px 0 0 0 ;
}
.info-center .info-lists ul {
  margin: 0;
}
.info-center .info-lists ul li {
  border-bottom: 1px solid #E9E9E9;
  padding: 20px 0;
}
.info-center .info-lists ul li a {
  display: flex;
  flex-flow: row;
}
.info-center .info-lists ul li a .info-img {
  width: 270px;
  height: 138px;
}
.info-center .info-lists ul li a .info-img img {
  width: 270px;
  height: 138px;
}
.info-center .info-lists ul li a .info-discript {
  flex: 1 1 auto;
  padding: 0 0 0 40px;
}
.info-center .info-lists ul li a .info-discript .info-title {
  height: 46px;
  line-height: 46px;
}
.info-center .info-lists ul li a .info-discript .info-title h5 {
  font-size: 18px;
  font-family: MicrosoftYaHei;
  color: #333333;
}
.info-center .info-lists ul li a .info-discript .info-title p {
  font-size: 14px;
  color: #999999;
}
.info-center .info-lists ul li a .info-discript p {
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  margin: 0;
}
.info-center .info-lists ul li a .info-discript .info-more {
  display: none;
  font-size: 14px;
  width: 88px;
  height: 32px;
  line-height: 32px;
  background: #0253ba;
  text-align: center;
  margin-top: 10px;
}
.info-center .info-lists ul li a .info-discript .info-more .arrow {
  color: #ffffff;
  font-weight: bold;
}
.info-center .info-lists ul li a:hover .info-more {
  display: block;
}
/*home------product center & subpage------successfull cases*/
.product_img a:last-child {
  margin-right: 0;
}
/*success cases*/
.case-con {
  width: 1200px;
  margin: 0 auto;
}
.case-con .product_img_box {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.case-con .product_img_box a {
  margin: 0 20px 20px 0;
  display: block;
  width: 380px;
  height: 380px;
}
.case-con .product_img_box a .imagebox {
  width: 380px;
  height: 260px;
  overflow: hidden;
}
.case-con .product_img_box a .imgText {
  text-align: center;
  padding: 15px 16px;
}
.case-con .product_img_box a .imgText h5 {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
}
.case-con .product_img_box a .imgText p {
  font-size: 16px;
  color: #999999;
  line-height: 21px;
  margin: 0;
}
.case-con .product_img_box a .imgText span {
  display: none;
  color: #0253BA;
  font-size: 24px;
  margin-top: 19px;
}
.case-con .product_img_box a:hover {
  background: #ffffff;
  box-shadow: 0px 6px 12px 0px rgba(202, 202, 202, 0.5);
  text-align: center;
}
.case-con .product_img_box a:hover .details {
  display: block;
}
.case-con .caselist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.case-con .caselist .cases:nth-child(3) {
  margin-right: 0;
}
.case-con .caselist .cases {
  padding: 50px 0 0 0;
  margin-right: 30px;
}
.case-con .caselist .cases a {
  display: block;
  background: #ffffff;
  width: 380px;
  height: 360px;
}
.case-con .caselist .cases a .caseimagebox {
  width: 380px;
  height: 260px;
  overflow: hidden;
}
.case-con .caselist .cases a .case-dis {
  position: relative;
  padding: 20px;
}
.case-con .caselist .cases a .case-dis h5 {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
}
.case-con .caselist .cases a .case-dis p {
  font-size: 16px;
  color: #999999;
  line-height: 21px;
  margin: 0;
}
.case-con .caselist .cases a .case-dis .icon-case {
  position: absolute;
  top: 20px;
  right: 12px;
  font-size: 38px;
}
.case-con .caselist .cases a .case-dis .icon-case span {
  font-size: 38px;
}
.case-con .caselist .cases a .case-dis .icon-case .icon-07jiantouxiangyou {
  display: block;
  color: #aaaaaa;
}
.case-con .caselist .cases a .case-dis .icon-case .icon-07jiantouxiangyoufill {
  display: none;
}
.case-con .caselist .cases a:hover .icon-case {
  top: -26px;
  font-size: 38px;
}
.case-con .caselist .cases a:hover .icon-case .icon-07jiantouxiangyou {
  display: none;
  color: #aaaaaa;
}
.case-con .caselist .cases a:hover .icon-case .icon-07jiantouxiangyoufill {
  display: block;
  color: #0253BA;
}
/*common article and discript*/
.article-title {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
}
.article-discript {
  font-size: 16px;
  color: #999999;
  line-height: 21px;
  margin: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
/*黑白滤镜*/
.gray {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
/*title common style*/
.titles {
  font-size: 26px;
  color: #333333;
  line-height: 35px;
}
.case {
  float: left;
  font-size: 22px;
  color: #999999;
  line-height: 29px;
  padding-top: 13px;
  margin-top: 13px;
  border-top: 2px solid #333333;
}
/*咨询中心及成功案例内容页底部页面跳转styles*/
.pagelinks {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}
.pagelinks ul {
  display: flex;
  padding: 0;
  flex-direction: row;
}
.pagelinks ul li a {
  display: flex;
  flex-direction: row;
  width: 460px;
  text-align: center;
  background: #f5f5f5;
  padding: 35px 20px;
  color: #666666;
}
.pagelinks ul li a img {
  display: none;
  width: 100px;
  height: 50px;
}
.pagelinks ul li a p {
  padding-left: 20px;
  line-height: 50px;
  margin: 0;
}
.pagelinks ul li a span {
  font-size: 22px;
  padding: 15px 0 0 30px;
}
.pagelinks ul li a:hover {
  background: #0253ba;
  color: #ffffff;
}
.pagelinks ul li a:hover img {
  display: block;
}
.pagelinks ul li a:hover p {
  width: 238px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
/*partner*/
.partner {
  padding: 100px 0;
  width: 1200px;
  margin: 0 auto;
}
.partner .swc-case {
  padding: 30px 0 70px 5px;
}
.partner .swc-case ul {
  padding: 0;
}
.partner .swc-case ul li {
  margin-right: 26px;
  width: 277px;
  height: 140px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 8px 0px rgba(223, 223, 223, 0.5);
}
.partner .swc-case ul li:nth-child(4) {
  margin-right: 0;
}
/*footer*/
footer {
  width: auto;
  background: #1c1c1c;
  color: #ffffff;
}
footer .jetlist {
  width: 1200px;
  padding: 46px;
  font-size: 12px;
}
footer .jetlist ul {
  display: block;
  width: 202px;
  height: 143px;
  border-right: 2px solid #454545;
  padding-left: 36px;
  float: left;
}
footer .jetlist ul li {
  color: #cccccc;
  line-height: 20px;
}
footer .jetlist ul li a {
  color: #cccccc;
}
footer .jetlist ul h5 {
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  margin-bottom: 18px;
}
.noborder {
  border: none !important;
}
/*jetthinker地址等信息*/
footer .jetthinker {
  padding-left: 36px;
}
footer .jetthinker img {
  width: 120px;
  height: 25px;
}
footer .jetthinker h5 {
  font-size: 14px;
  line-height: 19px;
  margin-top: 28px;
}
footer .jetthinker p {
  height: 20px;
  line-height: 20px;
}
footer .jetthinker .icon-phone {
  width: 18px;
  height: 18px;
}
footer .jetthinker .icon-mail {
  width: 17px;
  height: 14px;
}
footer .jetthinker .icon-addr {
  width: 16px;
  height: 20px;
}
/*二维码*/
footer .jetlist .qr_code {
  padding: 25px 0 0 0;
}
footer .jetlist .qr_code img {
  width: 86px;
  height: 86px;
}
footer .jetlist .qr_code p {
  color: #cccccc;
  line-height: 16px;
  margin-top: 14px;
}
footer .copyright {
  height: 80px;
  background: #141414;
  text-align: center;
}
footer .copyright p {
  font-size: 12px;
  color: #cccccc;
  line-height: 80px;
}
.top {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background: #1c1c1c;
  text-align: center;
  display: none;
}
.top a {
  display: block;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top a span {
  font-size: 28px;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
