/* common class*/
.content-box {
  width: 1200px;
  margin: 0 auto;
}
/* const content padding */
.pad-bottom {
  padding: 0 0 100px 0;
}
/*css sprites
  @width：图标宽度
  @height：图标高度
  @posit-x：图标在x轴位置
  @posit-y：图标在y轴位置
*/
/*common styles for background pictrue scroll*/
@keyframes bg-move {
  from {
    background-position: center -100px;
  }
  to {
    background-position: center 0;
  }
}
@-webkit-keyframes bg-move {
  from {
    background-position: center -100px;
  }
  to {
    background-position: center 0;
  }
}
@keyframes bg-moves {
  from {
    background-position: center 0;
  }
  to {
    background-position: center -50px;
  }
}
@-webkit-keyframes bg-moves {
  from {
    background-position: center 0;
  }
  to {
    background-position: center -50px;
  }
}
* {
  font-family: MicrosoftYaHei;
}
.nopad {
  padding-right: 0!important;
}
html,
body {
  font-family: MicrosoftYaHei;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html .main,
body .main {
  width: 100%;
  background: #ffffff;
  min-width: 1200px;
}
html .main header,
body .main header {
  width: 100%;
  height: 66px;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 999;
}
html .main header .headCon_box,
body .main header .headCon_box {
  z-index: 9999;
  opacity: 1;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  /* Safari and Chrome */
}
html .main header .headCon_box .logo,
body .main header .headCon_box .logo {
  display: inline-block;
  line-height: 85px;
}
html .main header .headCon_box .logo a,
body .main header .headCon_box .logo a {
  display: block;
}
html .main header .headCon_box .logo a img,
body .main header .headCon_box .logo a img {
  width: 145px;
  height: 30px;
}
html .main header .headCon_box .menulist,
body .main header .headCon_box .menulist {
  width: auto;
  float: right;
}
html .main header .headCon_box .menulist ul,
body .main header .headCon_box .menulist ul {
  margin: 0;
  padding: 15px;
}
html .main header .headCon_box .menulist ul li,
body .main header .headCon_box .menulist ul li {
  position: relative;
  color: #ffffff;
  width: auto;
  line-height: 35px;
  float: left;
}
html .main header .headCon_box .menulist ul li .sub_menu,
body .main header .headCon_box .menulist ul li .sub_menu {
  display: none;
  width: 222px;
  position: absolute;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  left: -48px;
}
html .main header .headCon_box .menulist ul li .sub_menu ul,
body .main header .headCon_box .menulist ul li .sub_menu ul {
  display: inline;
  padding: 0!important;
}
html .main header .headCon_box .menulist ul li .sub_menu ul li a,
body .main header .headCon_box .menulist ul li .sub_menu ul li a {
  width: 200px;
  line-height: 50px;
  color: #333333;
  padding: 0;
  padding-left: 22px;
}
html .main header .headCon_box .menulist ul li .sub_menu ul li a:hover,
body .main header .headCon_box .menulist ul li .sub_menu ul li a:hover {
  background: #0253ba;
  color: #ffffff;
}
html .main header .headCon_box .menulist ul li:hover .sub_menu,
body .main header .headCon_box .menulist ul li:hover .sub_menu {
  display: block;
}
html .main header .headCon_box .menulist ul li a,
body .main header .headCon_box .menulist ul li a {
  font-size: 14px;
  padding: 0 35px;
  display: block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
html .main header .headCon_box .menulist ul li a .role,
body .main header .headCon_box .menulist ul li a .role {
  display: block;
  position: absolute;
  left: 50%;
  border-bottom: 2px solid #ffffff;
  transform: translate(-50%);
}
html .main header .headCon_box .menulist ul li a:hover .role,
body .main header .headCon_box .menulist ul li a:hover .role {
  display: block;
  animation: nav_move .3s linear forwards;
  /* Safari and Chrome */
  -webkit-animation: nav_move .3s linear forwards;
  border-bottom: 2px solid #ffffff;
}
@keyframes nav_move {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes nav_move {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
html .main header .headCon_box .active,
body .main header .headCon_box .active {
  border-bottom: 2px solid #ffffff !important;
}
/*common animate button*/
.animate-button {
  display: block;
  position: relative;
  animation: animate-btn 2s infinite;
  -moz-animation: animate-btn 2s infinite;
  /* Firefox 4 */
  -webkit-animation: animate-btn 2s infinite;
  /*Safari and Chrome*/
}
@keyframes animate-btn {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
@-moz-keyframes animate-btn {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
@-webkit-keyframes animate-btn {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
/*common animate pictrue*/
.animate-pictrue {
  display: block;
  position: relative;
  cursor: pointer;
  transition: all 0.6s;
  -moz-transition: width 0.6s;
  /* Firefox 4 */
  -webkit-transition: all 0.6s;
  /*Safari and Chrome*/
}
.animate-pictrue:hover {
  transform: scale(1.1);
}
/*info center*/
.info-center {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
.info-center .info-lists {
  padding: 50px 0 0 0 ;
}
.info-center .info-lists ul {
  margin: 0;
}
.info-center .info-lists ul li {
  border-bottom: 1px solid #E9E9E9;
  padding: 20px 0;
}
.info-center .info-lists ul li a {
  display: flex;
  flex-flow: row;
}
.info-center .info-lists ul li a .info-img {
  width: 270px;
  height: 138px;
}
.info-center .info-lists ul li a .info-img img {
  width: 270px;
  height: 138px;
}
.info-center .info-lists ul li a .info-discript {
  flex: 1 1 auto;
  padding: 0 0 0 40px;
}
.info-center .info-lists ul li a .info-discript .info-title {
  height: 46px;
  line-height: 46px;
}
.info-center .info-lists ul li a .info-discript .info-title h5 {
  font-size: 18px;
  font-family: MicrosoftYaHei;
  color: #333333;
}
.info-center .info-lists ul li a .info-discript .info-title p {
  font-size: 14px;
  color: #999999;
}
.info-center .info-lists ul li a .info-discript p {
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  margin: 0;
}
.info-center .info-lists ul li a .info-discript .info-more {
  display: none;
  font-size: 14px;
  width: 88px;
  height: 32px;
  line-height: 32px;
  background: #0253ba;
  text-align: center;
  margin-top: 10px;
}
.info-center .info-lists ul li a .info-discript .info-more .arrow {
  color: #ffffff;
  font-weight: bold;
}
.info-center .info-lists ul li a:hover .info-more {
  display: block;
}
/*home------product center & subpage------successfull cases*/
.product_img a:last-child {
  margin-right: 0;
}
/*success cases*/
.case-con {
  width: 1200px;
  margin: 0 auto;
}
.case-con .product_img_box {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.case-con .product_img_box a {
  margin: 0 20px 20px 0;
  display: block;
  width: 380px;
  height: 380px;
}
.case-con .product_img_box a .imagebox {
  width: 380px;
  height: 260px;
  overflow: hidden;
}
.case-con .product_img_box a .imgText {
  text-align: center;
  padding: 15px 16px;
}
.case-con .product_img_box a .imgText h5 {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
}
.case-con .product_img_box a .imgText p {
  font-size: 16px;
  color: #999999;
  line-height: 21px;
  margin: 0;
}
.case-con .product_img_box a .imgText span {
  display: none;
  color: #0253BA;
  font-size: 24px;
  margin-top: 19px;
}
.case-con .product_img_box a:hover {
  background: #ffffff;
  box-shadow: 0px 6px 12px 0px rgba(202, 202, 202, 0.5);
  text-align: center;
}
.case-con .product_img_box a:hover .details {
  display: block;
}
.case-con .caselist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.case-con .caselist .cases:nth-child(3) {
  margin-right: 0;
}
.case-con .caselist .cases {
  padding: 50px 0 0 0;
  margin-right: 30px;
}
.case-con .caselist .cases a {
  display: block;
  background: #ffffff;
  width: 380px;
  height: 360px;
}
.case-con .caselist .cases a .caseimagebox {
  width: 380px;
  height: 260px;
  overflow: hidden;
}
.case-con .caselist .cases a .case-dis {
  position: relative;
  padding: 20px;
}
.case-con .caselist .cases a .case-dis h5 {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
}
.case-con .caselist .cases a .case-dis p {
  font-size: 16px;
  color: #999999;
  line-height: 21px;
  margin: 0;
}
.case-con .caselist .cases a .case-dis .icon-case {
  position: absolute;
  top: 20px;
  right: 12px;
  font-size: 38px;
}
.case-con .caselist .cases a .case-dis .icon-case span {
  font-size: 38px;
}
.case-con .caselist .cases a .case-dis .icon-case .icon-07jiantouxiangyou {
  display: block;
  color: #aaaaaa;
}
.case-con .caselist .cases a .case-dis .icon-case .icon-07jiantouxiangyoufill {
  display: none;
}
.case-con .caselist .cases a:hover .icon-case {
  top: -26px;
  font-size: 38px;
}
.case-con .caselist .cases a:hover .icon-case .icon-07jiantouxiangyou {
  display: none;
  color: #aaaaaa;
}
.case-con .caselist .cases a:hover .icon-case .icon-07jiantouxiangyoufill {
  display: block;
  color: #0253BA;
}
/*common article and discript*/
.article-title {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
}
.article-discript {
  font-size: 16px;
  color: #999999;
  line-height: 21px;
  margin: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
/*黑白滤镜*/
.gray {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.content {
  width: 1200px;
  margin: 0 auto;
}
/*title common style*/
.titles {
  font-size: 26px;
  color: #333333;
  line-height: 35px;
}
.case {
  float: left;
  font-size: 22px;
  color: #999999;
  line-height: 29px;
  padding-top: 13px;
  margin-top: 13px;
  border-top: 2px solid #333333;
}
/*咨询中心及成功案例内容页底部页面跳转styles*/
.pagelinks {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}
.pagelinks ul {
  display: flex;
  padding: 0;
  flex-direction: row;
}
.pagelinks ul li a {
  display: flex;
  flex-direction: row;
  width: 460px;
  text-align: center;
  background: #f5f5f5;
  padding: 35px 20px;
  color: #666666;
}
.pagelinks ul li a img {
  display: none;
  width: 100px;
  height: 50px;
}
.pagelinks ul li a p {
  padding-left: 20px;
  line-height: 50px;
  margin: 0;
}
.pagelinks ul li a span {
  font-size: 22px;
  padding: 15px 0 0 30px;
}
.pagelinks ul li a:hover {
  background: #0253ba;
  color: #ffffff;
}
.pagelinks ul li a:hover img {
  display: block;
}
.pagelinks ul li a:hover p {
  width: 238px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
/*partner*/
.partner {
  padding: 100px 0;
  width: 1200px;
  margin: 0 auto;
}
.partner .swc-case {
  padding: 30px 0 70px 5px;
}
.partner .swc-case ul {
  padding: 0;
}
.partner .swc-case ul li {
  margin-right: 26px;
  width: 277px;
  height: 140px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 8px 0px rgba(223, 223, 223, 0.5);
}
.partner .swc-case ul li:nth-child(4) {
  margin-right: 0;
}
/*footer*/
footer {
  width: auto;
  background: #1c1c1c;
  color: #ffffff;
}
footer .jetlist {
  width: 1200px;
  padding: 46px;
  font-size: 12px;
}
footer .jetlist ul {
  display: block;
  width: 202px;
  height: 143px;
  border-right: 2px solid #454545;
  padding-left: 36px;
  float: left;
}
footer .jetlist ul li {
  color: #cccccc;
  line-height: 20px;
}
footer .jetlist ul li a {
  color: #cccccc;
}
footer .jetlist ul h5 {
  font-size: 14px;
  color: #ffffff;
  line-height: 19px;
  margin-bottom: 18px;
}
.noborder {
  border: none !important;
}
/*jetthinker地址等信息*/
footer .jetthinker {
  padding-left: 36px;
}
footer .jetthinker img {
  width: 120px;
  height: 25px;
}
footer .jetthinker h5 {
  font-size: 14px;
  line-height: 19px;
  margin-top: 28px;
}
footer .jetthinker p {
  height: 20px;
  line-height: 20px;
}
footer .jetthinker .icon-phone {
  width: 18px;
  height: 18px;
}
footer .jetthinker .icon-mail {
  width: 17px;
  height: 14px;
}
footer .jetthinker .icon-addr {
  width: 16px;
  height: 20px;
}
/*二维码*/
footer .jetlist .qr_code {
  padding: 25px 0 0 0;
}
footer .jetlist .qr_code img {
  width: 86px;
  height: 86px;
}
footer .jetlist .qr_code p {
  color: #cccccc;
  line-height: 16px;
  margin-top: 14px;
}
footer .copyright {
  height: 80px;
  background: #141414;
  text-align: center;
}
footer .copyright p {
  font-size: 12px;
  color: #cccccc;
  line-height: 80px;
}
.top {
  position: fixed;
  z-index: 999;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background: #1c1c1c;
  text-align: center;
  display: none;
}
.top a {
  display: block;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top a span {
  font-size: 28px;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.article-h5 {
  font-size: 22px;
  color: #333333;
  line-height: 40px;
  font-weight: 500;
}
/*get icons成功案例二级页面icons*/
.caseicons-one1 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -182px 0;
  width: 82px;
  height: 82px;
}
.caseicons-one2 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1277px -10px;
  width: 82px;
  height: 82px;
}
.caseicons-one3 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -362px 0;
  width: 82px;
  height: 82px;
}
.caseicons-one4 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -543px 0;
  width: 82px;
  height: 82px;
}
.caseicons-one5 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1422px 0;
  width: 82px;
  height: 82px;
}
.caseicons-one7 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1752px 0;
  width: 82px;
  height: 82px;
}
.caseicons-one8 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 -162px;
  width: 82px;
  height: 82px;
}
.caseicons-two1 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -173px -157px;
  width: 82px;
  height: 82px;
}
.caseicons-two2 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -354px -157px;
  width: 82px;
  height: 82px;
}
.caseicons-two3 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -537px -162px;
  width: 82px;
  height: 82px;
}
.caseicons-two4 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1442px -15px;
  width: 82px;
  height: 82px;
}
.caseicons-two5 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -717px -157px;
  width: 82px;
  height: 82px;
}
.caseicons-two6 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -889px -157px;
  width: 82px;
  height: 82px;
}
.caseicons-two7 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 -160px;
  width: 82px;
  height: 82px;
}
.caseicons-two8 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1596px 0;
  width: 82px;
  height: 82px;
}
.caseicons-three1 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1068px -163px;
  width: 82px;
  height: 82px;
}
.caseicons-three2 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1239px -168px;
  width: 82px;
  height: 82px;
}
.caseicons-three3 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1410px -155px;
  width: 82px;
  height: 82px;
}
.caseicons-three4 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1566px -144px;
  width: 82px;
  height: 82px;
}
.caseicons-three5 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -532px -157px;
  width: 82px;
  height: 82px;
}
.caseicons-three6 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1442px -7px;
  width: 82px;
  height: 82px;
}
.caseicons-three7 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -723px 0;
  width: 82px;
  height: 82px;
}
.caseicons-three8 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -889px -164px;
  width: 82px;
  height: 82px;
}
.caseicons-four1 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1754px -163px;
  width: 82px;
  height: 82px;
}
.caseicons-four2 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1239px -340px;
  width: 82px;
  height: 82px;
}
.caseicons-four3 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -170px -338px;
  width: 82px;
  height: 82px;
}
.caseicons-four4 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -350px -338px;
  width: 82px;
  height: 82px;
}
.caseicons-four5 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -512px -338px;
  width: 82px;
  height: 82px;
}
.caseicons-four6 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -676px -338px;
  width: 82px;
  height: 82px;
}
.caseicons-four7 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -850px -338px;
  width: 82px;
  height: 82px;
}
.caseicons-four8 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1074px -338px;
  width: 82px;
  height: 82px;
}
.caseicons-five1 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1243px -343px;
  width: 82px;
  height: 82px;
}
.caseicons-five2 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1416px -343px;
  width: 82px;
  height: 82px;
}
.caseicons-five3 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1588px -343px;
  width: 82px;
  height: 82px;
}
.caseicons-five4 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1756px -343px;
  width: 82px;
  height: 82px;
}
.caseicons-five5 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 -525px;
  width: 82px;
  height: 82px;
}
.caseicons-five6 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -164px -515px;
  width: 82px;
  height: 82px;
}
.caseicons-five7 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -350px -515px;
  width: 82px;
  height: 82px;
}
.caseicons-five8 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -516px -515px;
  width: 82px;
  height: 82px;
}
.caseicons-six1 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -696px -521px;
  width: 82px;
  height: 82px;
}
.caseicons-six2 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -890px -521px;
  width: 82px;
  height: 82px;
}
.caseicons-six3 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1070px -521px;
  width: 82px;
  height: 82px;
}
.caseicons-six4 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1240px -521px;
  width: 82px;
  height: 82px;
}
.caseicons-six5 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1409px -521px;
  width: 82px;
  height: 82px;
}
.caseicons-six6 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1580px -521px;
  width: 82px;
  height: 82px;
}
.caseicons-six7 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -350px -521px;
  width: 82px;
  height: 82px;
}
.caseicons-six8 {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 -689px;
  width: 82px;
  height: 82px;
}
.banner-cases {
  background: url("../images/case_banner.png") center top no-repeat;
}
.banner-cases-one {
  background: url("../images/case_banner2.png") center top no-repeat;
}
.banner-cases-two {
  background: url("../images/case_banner3.png") center top no-repeat;
}
.banner-cases-three {
  background: url("../images/case_banner4.png") center top no-repeat;
}
.banner-cases-four {
  background: url("../images/case_banner5.png") center top no-repeat;
}
.banner-cases-five {
  background: url("../images/case_banner6.png") center top no-repeat;
}
.banner-cases-six {
  background: url("../images/case_banner7.png") center top no-repeat;
}
.banner-product {
  background: url("../images/banner1.png") center bottom no-repeat;
}
.banner-gaia {
  background: url("../images/banner3.png") center top no-repeat;
}
.banner-mimir {
  background: url("../images/banner2.png") center center no-repeat;
}
.banner-rig {
  background: url("../images/banner4.png") center top no-repeat;
}
.banner-joinus {
  background: url("../images/us_banner2.png") center bottom no-repeat;
}
.banner-industry {
  background: url("../images/industry_banner.png") center top no-repeat;
}
.banner-company {
  background: url("../images/us_banner1.png") center top no-repeat;
}
.banner-info-one {
  background: url("../images/us_banner3.png") center top no-repeat;
}
.banner-info-two {
  background: url("../images/us_banner4.png") center top no-repeat;
}
.banner-info-three {
  background: url("../images/us_banner5.png") center top no-repeat;
}
.sub-banner {
  height: 540px;
}
.sub-banner .sub-banner-text {
  width: 1200px;
  margin: 0 auto;
  padding-top: 166px;
}
.sub-banner .sub-banner-text h3 {
  font-size: 54px;
  color: #ffffff;
  line-height: 71px;
  font-weight: 300;
  margin-top: 60px;
}
.sub-banner .sub-banner-text p {
  font-size: 50px;
  color: #ffffff;
  width: 668px;
  margin: 0 0 30px 0;
}
.sub-banner .sub-banner-text .banner-dis {
  font-size: 24px;
  line-height: 31px;
  color: #DDDDDD;
  width: 668px;
  margin: 0;
  margin-bottom: 40px;
}
.sub-banner .but-consult {
  width: 120px;
  height: 44px;
  text-align: center;
  background: #000000;
  opacity: 0.6223;
}
.sub-banner .but-consult a {
  font-size: 18px;
  color: #ffffff;
  line-height: 44px;
  display: block;
}
/*common gray background*/
.bg_color {
  background: #f8f8f8;
}
/*successull case*/
.success-case {
  padding: 100px 0;
}
/*PRODUCT CENTER*/
.pro-discript {
  padding: 100px 32px;
  margin: 50px 0 0 0;
  background: #f8f8f8;
}
.pro-discript p {
  font-size: 18px;
  color: #666666;
  line-height: 24px;
}
/*peature bg*/
.pro-feature {
  height: 865px;
  background: url("../images/map_bg.png") center center no-repeat;
}
/*service value bg*/
.service-val {
  height: 1270px;
  background: url("../images/map_bg.png") center center no-repeat;
}
/*function description*/
.descript-fun {
  background: url("../images/cases_bg.png") center 380px no-repeat;
}
/*common production styles*/
.feature-con {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
.flist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 50px 0 0 0;
  color: #ffffff;
  text-align: center;
}
.flist .part-four {
  width: 400px;
  height: 310px;
  padding-top: 90px;
  background: #0253ba;
}
.flist .part-four span {
  font-size: 120px !important;
}
.flist .part-four p {
  font-size: 24px;
}
.flist .part-list {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 800px;
}
.flist .part-list .common-block {
  width: 200px;
  height: 160px;
  padding-top: 40px;
}
.flist .part-list .common-block span {
  font-size: 78px !important;
}
.flist .part-list .common-block p {
  font-size: 16px;
}
.flist .part-list .block-gray {
  background: #d6d7d9;
}
.flist .part-list .block-blue {
  background: #0253ba;
}
.flist .part-list .block-white {
  background: #ffffff;
}
.flist .part-list .block-white span {
  color: #888888;
}
.flist .part-list .block-white p {
  color: #333333;
}
/*shwo product*/
.show-product {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.show-product .product_box {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: flex-start;
}
.show-product .product_box img {
  width: 380px;
  height: 214px;
  margin-right: 20px;
}
.show-product .product_box img:nth-child(3) {
  margin-right: 0;
}
/*join us*/
.postlist {
  padding: 50px 0 0 0;
}
.postlist ul {
  display: inline;
}
.postlist ul li h5 {
  font-size: 22px;
  color: #333333;
  line-height: 40px;
  font-weight: 500;
}
.postlist ul li p {
  font-size: 18px;
  color: #666666;
  line-height: 24px;
  line-height: 30px;
}
.postlist ul li a {
  position: relative;
  padding: 32px;
  margin-bottom: 30px;
  display: block;
}
.postlist ul li a .links {
  position: absolute;
  right: 40px;
  top: 90px;
  display: none;
  color: #0253BA;
}
.postlist ul li a .links span {
  font-size: 38px;
}
.postlist ul li a:hover {
  background: #f8f8f8;
}
.postlist ul li a:hover .links {
  display: block;
}
/*plan center*/
.planlist {
  padding: 50px 0 0 0;
}
.planlist ul {
  padding: 0;
}
.planlist ul li {
  position: relative;
  width: 535px;
  float: left;
  min-height: 173px;
  /*模块背景文字ONE/TWO/THREE...*/
}
.planlist ul li .li-bg {
  position: absolute;
  z-index: 100;
  font-size: 100px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #f7f7f7;
  line-height: 66px;
}
.planlist ul li .li-con {
  position: absolute;
  z-index: 188;
}
.planlist ul li .li-con h5 {
  font-size: 22px;
  color: #333333;
  line-height: 40px;
  font-weight: 500;
}
.planlist ul li .li-con p {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
  padding-right: 60px;
}
.planlist ul li h5 {
  font-size: 22px;
  color: #333333;
  line-height: 40px;
  font-weight: 500;
}
.planlist ul li p {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
  padding-right: 60px;
}
.planlist ul li:nth-child(1) {
  border-right: 1px solid #ddd;
  height: 173px;
}
.planlist ul li:nth-child(2) {
  padding-left: 60px;
  padding-right: 0;
  height: 173px;
}
.planlist ul li:nth-child(3) {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding-top: 60px;
}
.planlist ul li:nth-child(4) {
  padding-left: 60px;
  border-top: 1px solid #ddd;
  padding-top: 60px;
}
.module-padding {
  padding: 100px 0 0 0;
}
/*service list*/
.service-list {
  padding: 50px 0 0 0;
}
.service-list ul {
  display: flex;
  justify-items: left;
  flex-wrap: wrap;
  padding: 0;
}
.service-list ul li {
  width: 525px;
  height: 240px;
  padding: 30px;
  background: #ffffff;
  font-size: 60px;
  text-align: center;
  margin: 0 30px 30px 0;
  /*get icons成功案例二级页面icons*/
}
.service-list ul li span {
  font-size: 60px;
}
.service-list ul li .mar-auto {
  margin: 0 auto;
}
.service-list ul li .caseicons-one-one {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 0;
  width: 82px;
  height: 82px;
}
.service-list ul li .caseicons-one-two {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 0;
  width: 82px;
  height: 82px;
}
.service-list ul li .caseicons-one-three {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 0;
  width: 82px;
  height: 82px;
}
.service-list ul li .caseicons-one-four {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 0;
  width: 82px;
  height: 82px;
}
.service-list ul li .caseicons-one-five {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 0;
  width: 82px;
  height: 82px;
}
.service-list ul li .caseicons-one-six {
  background: url(../images/icons.png) left top no-repeat;
  background-position: 0 0;
  width: 82px;
  height: 82px;
}
.service-list ul li h5 {
  margin-top: 20px;
  font-size: 22px;
  color: #333333;
  line-height: 40px;
  font-weight: 500;
}
.service-list ul li p {
  font-size: 16px;
  color: #666666;
  line-height: 24px;
  text-align: left;
}
.service-list ul li:nth-child(2) {
  margin-right: 0;
}
.service-list ul li:nth-child(4) {
  margin-right: 0;
}
.service-list ul li:nth-child(6) {
  margin-right: 0;
}
/*FUNCTION DESCRIPTION 成功案例内容页*/
.service-list-small {
  padding-bottom: 0;
}
.service-list-small ul li {
  width: 224px;
  height: 200px;
  /*-60px padding*/
  margin: 0 20px 20px 0;
  box-shadow: 0px 5px 12px -3px rgba(204, 204, 204, 0.5);
}
.service-list-small ul li:nth-child(2) {
  margin: 0 20px 0 0;
}
.service-list-small ul li:nth-child(4) {
  margin-right: 0;
}
.service-list-small ul li:nth-child(6) {
  margin: 0 20px 0 0;
}
.service-list-small ul li:nth-child(8) {
  margin-right: 0;
}
.product-list {
  padding: 50px 0 100px 0;
}
.product-list ul li {
  margin-right: 28px;
}
.product-list ul li:nth-child(4) {
  margin-right: 0;
}
/*bussiness*/
.bussiness-dis {
  padding: 32px;
  display: block;
  background: #f8f8f8;
  color: #666666;
}
/*infomation*/
.info-content {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}
.info-content h4 {
  font-size: 24px;
  color: #666666;
  line-height: 50px;
}
.info-content .time {
  height: 33px;
  line-height: 33px;
  color: #999999;
}
.info-content .info-con {
  padding: 50px 0;
  font-size: 16px;
}
.info-content .info-con h5 {
  font-size: 16px;
  color: #666666;
}
.info-content .info-con p {
  line-height: 32px;
  font-size: 16px;
  color: #999999;
}
.info-content .info-con .pictrues {
  padding: 50px 0;
}
.info-content .info-con .pictrues img {
  margin-right: 15px;
}
.info-content .info-con .pictrues img:nth-child(4) {
  margin-right: 0;
}
/*aboutus-company*/
.company {
  position: relative;
}
.company .company-pic {
  width: 500px;
  height: 500px;
}
.company .company-pic img {
  width: 100%;
  height: 100%;
}
.company .com-discript {
  position: absolute;
  z-index: 99;
  top: 150px;
  left: 375px;
  background: #ffffff;
  width: 790px;
  height: 260px;
  padding: 30px;
}
.company .com-discript .jetthinker {
  position: absolute;
  z-index: 100;
  font-size: 50px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: #f7f7f7;
  line-height: 66px;
}
.company .com-discript .jet-con {
  position: absolute;
  z-index: 101;
}
.company .com-discript .jet-con h6 {
  font-size: 20px;
  color: #333333;
  line-height: 26px;
  font-weight: 400;
}
.company .com-discript .jet-con p {
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 18px;
  color: #7f7f7f;
  line-height: 24px;
}
.company .com-discript .jet-con .icon-comma-bottom {
  background: url(../images/icons.png) left top no-repeat;
  background-position: -1062px 0;
  width: 23px;
  height: 23px;
  float: right;
}
/*our team*/
.our-team {
  height: 664px;
  background: url("../images/map_bg.png") center center no-repeat;
}
.team-list {
  margin: 50px 0 0 0;
  background: #ffffff;
}
.team-list ul {
  display: flex;
  justify-items: left;
  padding: 0;
}
.team-list ul li {
  width: 360px;
  padding: 60px 20px;
  background: #ffffff;
  font-size: 60px;
  border-right: 1px solid #F2F2F2;
}
.team-list ul li img {
  width: 360px;
  height: 150px;
}
.team-list ul li h5 {
  font-size: 18px;
  color: #333333;
  line-height: 24px;
  font-weight: 300;
}
.team-list ul li p {
  font-size: 16px;
  color: #999999;
  line-height: 21px;
  margin: 0;
}
.team-list ul li:nth-child(3) {
  margin-right: 0;
}
/*advert*/
.advert {
  background: url("../images/us_bg2.png") center top no-repeat;
  height: 200px;
  margin-top: 70px;
}
.advert ul li {
  float: left;
  width: 50%;
  padding: 60px 0;
}
.advert ul li h4 {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  line-height: 40px;
}
.advert ul li p {
  font-size: 22px;
  color: #ffffff;
  line-height: 29px;
}
/*honor list*/
.honor-list {
  padding: 50px 0 0 0;
}
.honor-list ul {
  padding: 0;
}
.honor-list ul li {
  width: 278px;
  height: 376px;
}
.honor-list ul li img {
  width: 100%;
  height: 100%;
}
.honor-list .swiper-button-next,
.honor-list .swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #0253ba;
  color: #ffffff;
}
.swiper-button-disabled {
  background: #000000 !important;
  opacity: 0.4;
}
