<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>     
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-cases-four">
            <div class="sub-banner-text">
                <h3>某国有银行智慧金融应用服务系统</h3>
                <p class="banner-dis"></p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- bussiness background -->
        <section class="module-padding">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">业务背景</div>
                    <div class="case">RECRUITING</div>
                </div>
                <div class="postlist">
                    <ul>
                        <li class="bussiness-dis">
                            <p>以金融为核心、信息服务为引导，借助大数据与AI技术快速搭建大数据赋值、AI赋能的智慧应用服务平台，
                                助力金融机构构建多资源、多信息、多层次的三次元“金融+全场景”的业务生态圈。以医疗场景为切入点，
                                搭建“金融+科技+医疗”智慧平台，优化服务流程，提升服务质量，改善患者就医体验，
                                通过线上医疗场景的打造，实现挂号、缴费等流程线上自助办理，真正实现便民惠民，提升患者满意度。 
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--service value-->
        <section class="descript-fun">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">建设内容</div>
                    <div class="case">CONSTRUCTION CONTENT</div>
                </div>
                <div class="service-list service-list-small">
                    <ul>
                        <li>
                            <div class="mar-auto caseicons-four1"></div>
                            <h5>精准导诊</h5></li>
                        <li>
                            <div class="mar-auto caseicons-four2"></div>
                            <h5>自助挂号</h5></li>
                        <li>
                            <div class="mar-auto caseicons-four3"></div>
                            <h5>在线缴费</h5></li>
                        <li>
                            <div class="mar-auto caseicons-four4"></div>
                            <h5>智慧出行</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-four5"></div>
                            <h5>人脸识别</h5></li>
                        <li>
                            <div class="mar-auto caseicons-four6"></div>
                            <h5>智能客服</h5></li>
                        <li>
                            <div class="mar-auto caseicons-four7"></div>
                            <h5>产品中心</h5></li>
                        <li>
                            <div class="mar-auto caseicons-four8"></div>
                            <h5>营销模型</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">服务价值</div>
                    <div class="case">SERVICE VALUE</div>
                </div>
                <div class="planlist clearfix">
                    <ul>
                        <li class="plist">
                            <span class="li-bg">ONE</span>
                            <div class="li-con">
                                <h5>扩展金融服务场景</h5>
                                <p>帮助银行构建医疗金融场景，增加客流，提升金融交易量，实现精准营销</p>
                            </div>
                        </li>
                        <li class="plist">
                                <span class="li-bg">TWO</span>
                                <div class="li-con">
                                    <h5>智能导诊与诊断服务</h5>
                                    <p class="nopad">基于AI模型对海量文献和知识库进行深度学习和加工形成语料库，帮患者精准推荐适合的医院和医生</p>
                                </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">THREE</span>
                            <div class="li-con">
                                <h5>提升医疗业务服务体验</h5>
                                <p>为患者提供线上医疗健康服务，简化患者线上挂号步骤，并为不同的用户智能推荐适合的服务，提升用户体验</p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">FOUR</span>
                            <div class="li-con">
                                <h5>精准推荐金融产品服务</h5>
                                <p class="nopad">根据用户画像、反欺诈、精准营销等AI规则，为用户推荐个性化的理财，小贷，分期，保险等金融产品</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./caseContantThree.html">
                        <span class="iconfont icon-jiantou2-copy-copy"></span>
                        <img src="./../images/case_img2.png" alt="">
                        <p>某高校大数据管理服务系统实训平台</p>
                    </a>
                </li>
                <li>
                    <a href="./caseContantFive.html">
                        <img src="./../images/case_img4.png" alt="">
                        <p>某商业银行生物识别系统建设</p>
                        <span class="iconfont icon-jiantou2-copy"></span>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>