<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>     
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-cases-two">
            <div class="sub-banner-text">
                <h3>某股份制银行数据资产治理与运营服务中台</h3>
                <p class="banner-dis"></p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- bussiness background -->
        <section class="module-padding">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">项目背景</div>
                    <div class="case">BACKGROUND</div>
                </div>
                <div class="postlist">
                    <ul>
                        <li class="bussiness-dis">
                            <p>行内已建立面向整个核心业务的数据仓库，融合前台业务服务数据和核心业务管理的数据，建立面向业务统计的数据管理分析应用；日常数仓管理采用P/LSql、Erwin、ETL、BIEE等基础管理工具，数据管控与应用服务面临的挑战： 
                                <br>* 缺乏数据标准结构化管理与应用规范，无法对数据问题快速定位原因； 
                                <br>* 缺乏面向行内业务数据的统一、完整的数据关系视图、血脉影响分析； 
                                <br>* 缺乏支撑全行级数据质量治理、元数据管理的系统平台，无法有效管理与利用、模型管理冗余、模型复用率低； 
                                <br>* 缺乏统一的数据资产服务，无法有效支撑内外部数据查询与API接口服务、数据资产价值最大化 </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--service value-->
        <section class="descript-fun">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">建设内容</div>
                    <div class="case">CONSTRUCTION CONTENT</div>
                </div>
                <div class="service-list service-list-small">
                    <ul>
                        <li>
                            <div class="mar-auto caseicons-two1"></div>
                            <h5>数据建模工具</h5></li>
                        <li>
                                <div class="mar-auto caseicons-two2"></div>
                            <h5>数据标准管理</h5></li>
                        <li>
                                <div class="mar-auto caseicons-two3"></div>
                            <h5>数据稽核管理</h5></li>
                        <li>
                                <div class="mar-auto caseicons-two4"></div>
                            <h5>元数据管理</h5>
                        </li>
                        <li>
                                <div class="mar-auto caseicons-two5"></div>
                            <h5>数据资产管理</h5></li>
                        <li>
                                <div class="mar-auto caseicons-two6"></div>
                            <h5>资产服务集市</h5></li>
                        <li>
                                <div class="mar-auto caseicons-two7"></div>
                            <h5>资产评价体系</h5></li>
                        <li>
                                <div class="mar-auto caseicons-two8"></div>
                            <h5>资产审计服务</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">服务价值</div>
                    <div class="case">SERVICE VALUE</div>
                </div>
                <div class="planlist clearfix">
                    <ul>
                        <li class="plist">
                            <span class="li-bg">ONE</span>
                            <div class="li-con">
                                <h5>数据模型统一开发</h5>
                                <p>提供数据模型开发工具、引入数据标准、规范开发流程，支撑数据标准落地，将数据的核心模型作为IT资产进行沉淀</p>
                            </div>
                        </li>
                        <li class="plist">
                                <span class="li-bg">TWO</span>
                                <div class="li-con">
                                    <h5>数据标准管理</h5>
                                    <p class="nopad">实现数据标准的发布和落地，通过提供便捷的数据标准查询功能，提升数据质量水平，提高各类分析和决策的准确度</p>
                                </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">THREE</span>
                            <div class="li-con">
                                <h5>元数据自动化管理</h5>
                                <p>自动采集各系统元数据内容，理清各系统之间数据交互的血缘关系，为架构规范化提供支持</p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">FOUR</span>
                            <div class="li-con">
                                <h5>提升数据资产服务价值</h5>
                                <p class="nopad">通过数据资产的盘点，发现并解决与数据相关的各类问题，提升数据的使用效率、质量管控机制，发挥数据资产应用服务价值，创新业务数据收益新模式</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./caseContantOne.html">
                        <span class="iconfont icon-jiantou2-copy-copy"></span>
                        <img src="./../images/case_img1.png" alt="">
                        <p>某国有银行数据资产管理服务平台</p>
                    </a>
                </li>
                <li>
                    <a href="./caseContantThree.html">
                        <img src="./../images/case_img3.png" alt="">
                        <p>某高校大数据管理服务系统实训平台</p>
                        <span class="iconfont icon-jiantou2-copy"></span>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>