<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>     
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-cases-five">
            <div class="sub-banner-text">
                <h3>某商业银行生物识别系统建设</h3>
                <p class="banner-dis"></p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- bussiness background -->
        <section class="module-padding">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">业务背景</div>
                    <div class="case">RECRUITING</div>
                </div>
                <div class="postlist">
                    <ul>
                        <li class="bussiness-dis">
                            <p>生物识别服务系统平台集中式部署在总行数据中心，为各分行营业厅有VIP客户进入营业厅时，理财经理可通过基于B/S架构开发的客户端获取到VIP客户到来的提示信息，实现历史行为轨迹分析，
                                同时查看VIP客户人脸比对结果以及VIP客户信息，目前已达到万级别的人脸特征库。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--service value-->
        <section class="descript-fun">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">建设内容</div>
                    <div class="case">CONSTRUCTION CONTENT</div>
                </div>
                <div class="service-list service-list-small">
                    <ul>
                        <li>
                            <div class="mar-auto caseicons-five1"></div>
                            <h5>特征管理</h5></li>
                        <li>
                            <div class="mar-auto caseicons-five2"></div>
                            <h5>行踪轨迹</h5></li>
                        <li>
                            <div class="mar-auto caseicons-five3"></div>
                            <h5>实时对比</h5></li>
                        <li>
                            <div class="mar-auto caseicons-five4"></div>
                            <h5>设备管理</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-five5"></div>
                            <h5>统计分析</h5></li>
                        <li>
                            <div class="mar-auto caseicons-five6"></div>
                            <h5>报警管理</h5></li>
                        <li>
                            <div class="mar-auto caseicons-five7"></div>
                            <h5>网点管理</h5></li>
                        <li>
                            <div class="mar-auto caseicons-five8"></div>
                            <h5>日志审计</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">服务价值</div>
                    <div class="case">SERVICE VALUE</div>
                </div>
                <div class="planlist clearfix">
                    <ul>
                        <li class="plist">
                            <span class="li-bg">ONE</span>
                            <div class="li-con">
                                <h5>提高业务服务安全</h5>
                                <p>利用生物认证技术辅助业务办理，提高业务办理安全性</p>
                            </div>
                        </li>
                        <li class="plist">
                                <span class="li-bg">TWO</span>
                                <div class="li-con">
                                    <h5>创新业务服务流程</h5>
                                    <p class="nopad">实现将多业务流程自助化，降低员工业务服务压力，提升业务流程管理效率</p>
                                </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">THREE</span>
                            <div class="li-con">
                                <h5>提升业务服务体验</h5>
                                <p>快速实现业务分流，加强自助办理，减少用户等待时间提升用户体验</p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">FOUR</span>
                            <div class="li-con">
                                <h5>拓展业务营销服务模式</h5>
                                <p class="nopad">帮助行方更好定位客户需求，提供精准服务，从而提高获客、活客能力</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./caseContantFour.html">
                        <span class="iconfont icon-jiantou2-copy-copy"></span>
                        <img src="./../images/case_img4.png" alt="">
                        <p>某高校大数据管理服务系统实训平台</p>
                    </a>
                </li>
                <li>
                    <a href="./caseContantSix.html">
                        <img src="./../images/case_img6.png" alt="">
                        <p>某商业银行生物识别系统建设</p>
                        <span class="iconfont icon-jiantou2-copy"></span>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>