<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>     
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-cases">
            <div class="sub-banner-text">
                <p>企业成功案例</p>
                <p class="banner-dis">在数字经济时代，银行业格局正在改变，中科捷信洞察市场和客户需求变化,助力银行搭建金融生态，
                    实现数字化转型，加速数据价值变现和产能提升。
                </p>
                <div class="but-consult"><a href="#">立即咨询</a></div>
            </div>
        </div>
        <!-- successfull case -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">成功案例</div>
                    <div class="case">SUCCESSFUL CASE</div>
                </div>
                <div class="caselist">
                    <div class="cases">
                        <a href="./caseContant.html">
                        <img src="../images/home-img5.png" alt="">
                        <div class="case-dis">
                            <h5>国有银行数据资产管理平台</h5>
                            <p>Smart application se</p>
                            <div class="icon-case">
                                <span class="iconfont icon-07jiantouxiangyoufill"></span>
                                <span class="iconfont icon-07jiantouxiangyou"></span>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="cases">
                        <a href="./caseContant.html">
                        <img src="../images/home-img5.png" alt="">
                        <div class="case-dis">
                            <h5>国有银行数据资产管理平台</h5>
                            <p>Smart application se</p>
                            <div class="icon-case">
                                    <span class="iconfont icon-07jiantouxiangyoufill"></span>
                                    <span class="iconfont icon-07jiantouxiangyou"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cases">
                        <a href="./caseContant.html">
                        <img src="../images/home-img5.png" alt="">
                        <div class="case-dis">
                            <h5>国有银行数据资产管理平台</h5>
                            <p>Smart application se</p>
                            <div class="icon-case">
                                    <span class="iconfont icon-07jiantouxiangyoufill"></span>
                                    <span class="iconfont icon-07jiantouxiangyou"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cases">
                        <a href="./caseContant.html">
                        <img src="../images/home-img5.png" alt="">
                        <div class="case-dis">
                            <h5>国有银行数据资产管理平台</h5>
                            <p>Smart application se</p>
                            <div class="icon-case">
                                    <span class="iconfont icon-07jiantouxiangyoufill"></span>
                                    <span class="iconfont icon-07jiantouxiangyou"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>