<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-cases-one">
            <div class="sub-banner-text">
                <h3>某国有银行数据资产管理服务平台</h3>
                <p class="banner-dis"></p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- bussiness background -->
        <section class="module-padding">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">业务背景</div>
                    <div class="case">RECRUITING</div>
                </div>
                <div class="postlist">
                    <ul>
                        <li class="bussiness-dis">
                            <p>行内已建立面向整个核心业务+特色业务的数据仓库，定期从总行数据湖同步业务数据和上传特色管理数据，
                                形成总行数据湖、分行数据湖、分行数仓三维一体化的数据架构，基于数据湖之上建立面向业务与用户的数据管理分析应用。
                                数据管理和服务应用方面缺乏支撑全行级数据集成、工作流任务管理、元数据管理的业务数据管理平台，
                                无法形成面向行内业务数据的统一、完整的数据关系视图，缺乏日常业务数据管理任务的监控与风险评估体系。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--service value-->
        <section class="descript-fun">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">建设内容</div>
                    <div class="case">CONSTRUCTION CONTENT</div>
                </div>
                <div class="service-list service-list-small">
                    <ul>
                        <li>
                            <div class="mar-auto caseicons-one1"></div>
                            <h5>多源数据融合</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-one2"></div>
                            <h5>数据作业加工</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-one3"></div>
                            <h5>自助资产管理</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-one4"></div>
                            <h5>资产目录服务</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-one5"></div>
                            <h5>元数据管理</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-two8"></div>
                            <h5>资产审计</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-one7"></div>
                            <h5>API集市</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-one8"></div>
                            <h5>资产评价</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">服务价值</div>
                    <div class="case">SERVICE VALUE</div>
                </div>
                <div class="planlist clearfix">
                    <ul>
                        <li class="plist">
                            <span class="li-bg">ONE</span>
                            <div class="li-con">
                                <h5>统一数据管控</h5>
                                <p>通过数据平台实现总行数据湖、行内数仓、行内归档数据统一调度作业的管控，确保行内各级部门均可在保证数据隐私和安全的前提下调度使用数据，充分发挥数据作为企业重要资产的业务价值。
                                </p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">TWO</span>
                            <div class="li-con">
                                <h5>增强业务协作</h5>
                                <p class="nopad">
                                    实现总行与分行之间数据交换的统一管理，建立单一的产品、客户等数据的全行级业务视图，自动分析展示数据聚合、加工处理的血脉关系图谱，有效促进业务的集成和协作，并为全行级分析、交叉营销提供平台基础。
                                </p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">THREE</span>
                            <div class="li-con">
                                <h5>提升工作效率</h5>
                                <p>改变现有系统数据源多、数据开发复杂的现状，建立数据生命周期的分析使用、归档策略的统一管理，实现应用系统建设模式的转变，提升相关IT系统的建设和运行效率。</p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">FOUR</span>
                            <div class="li-con">
                                <h5>促进业务创新</h5>
                                <p class="nopad">数据分析人员可以基于明细、可信的数据，进行多维分析和数据挖掘工作流开发与监控管理，为银行业务创新（客户服务创新、产品创新等）建立数据基础条件。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./caseContantTwo.html">
                        <img src="./../images/case_img2.png" alt="">
                        <p>某股份制银行数据资产治理与运营服务中台</p>
                        <span class="iconfont icon-jiantou2-copy"></span>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>