<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>     
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据智能服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-cases">
            <div class="sub-banner-text">
                <p>国有银行数据资产管理平台</p>
                <p class="banner-dis">在数字经济时代，银行业格局正在改变，中科捷信洞察市场和客户需求变化，助力银行搭建金融生态，实现数字化转型，加速数据价值变现和产能提升。
                </p>
                <div class="but-consult"><a href="#">立即咨询</a></div>
            </div>
        </div>
        <!-- bussiness background -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">业务背景</div>
                    <div class="case">RECRUITING</div>
                </div>
                <div class="postlist">
                    <ul>
                        <li class="bussiness-dis">
                            <p>以金融为核心、信息服务为导向，借助大数据与AI技术快速搭建大数据赋值、
                                AI赋能的智慧应用服务平台，构建多资源、多信息、多层次的三次元“金融+全场景”的业务生态圈。将精准营销、智能投顾、反欺诈、智能客服、智慧信用等AI服务应用到业务场景中，
                                由传统的单点服务转变为随需服务，从而提升用户使用金融产品的意愿。
                                实现多场景、多纬度的获客、活客、留客，助力金融企业落地智慧银行。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--service value-->
        <section class="descript-fun">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">功能描述</div>
                    <div class="case">FUNCTION DESCRIPTION</div>
                </div>
                <div class="service-list service-list-small">
                    <ul>
                        <li>
                            <span class="iconfont icon-icon-entrust-person"></span>
                            <h5>深入合作、维护客户</h5></li>
                        <li>
                            <span class="iconfont icon-yunyingguanli"></span>
                            <h5>服务闭环、安全保证</h5></li>
                        <li>
                            <span class="iconfont icon-jichuguanli"></span>
                            <h5>线上线下、全渠道营销</h5></li>
                        <li>
                            <span class="iconfont icon-yunyingzhongxin"></span>
                            <h5>交叉营销，精准获客</h5></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">客户价值</div>
                    <div class="case">PLAN CENTER</div>
                </div>
                <div class="planlist clearfix">
                    <ul>
                        <li class="plist">
                            <h5>深入合作，维系客户</h5>
                            <p>企业客户从硬件环境、开发框架、自动化发布部署、系统运维监控等环节均与银行深度合作，实现快速上云，每个环节都紧密相扣，助力银行更好地维系客户关系。</p>
                        </li>
                        <li class="plist">
                            <h5 class="marg-left">线上线下，全渠道营销</h5>
                            <p class="marg-left">改变银行传统、低效的营销方式，通过云平台，快速开展线上营销，通过广告营销，实时触达客户，线上线下相结合，更好的服务客户。</p>
                        </li>
                        <li class="plist">
                            <h5>开放生态</h5>
                            <p>构建智慧场景，开放金融服务API、金融数据API，也可接入第三方API，在开放生态中，各自发挥优势，共建智慧金融生态。</p>
                        </li>
                        <li class="plist">
                            <h5 class="marg-left">AI智能服务</h5>
                            <p class="marg-left">基于大数据建模、机器学习，结合金融行业知识和应用场景，构建智能模型开发与服务引擎；为渠道提供精准营销、反欺诈、智能客服等智能服务。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>