<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-cases-three">
            <div class="sub-banner-text">
                <h3>某高校大数据资产管理创新服务平台</h3>
                <p class="banner-dis"></p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- bussiness background -->
        <section class="module-padding">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">项目背景</div>
                    <div class="case">RECRUITING</div>
                </div>
                <div class="postlist">
                    <ul>
                        <li class="bussiness-dis">
                            <p>某高校响应国家对大数据技术发展的重视程度，成立大数据资产管理创新服务中心，
                                建设大数据资产管理服务创新平台，是我校大数据专业建设、实战型人才培养最务实、最可行的落地方向之一，
                                通过引入最新的产品和解决方案，结合金融、电信等行业案例，培养学生具备建立大数据自助分析与服务能力。
                                提供学生实践能力和参与项目经验，提升人才培养市场吻合度和人才培养质量，提高就业能力。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!--service value-->
        <section class="descript-fun">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">建设内容</div>
                    <div class="case">CONSTRUCTION CONTENT</div>
                </div>
                <div class="service-list service-list-small">
                    <ul>
                        <li>
                            <div class="mar-auto caseicons-three1"></div>
                            <h5>数据集成</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-three2"></div>
                            <h5>作业调度</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-three3"></div>
                            <h5>数据开发</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-three4"></div>
                            <h5>数据标准</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-three5"></div>
                            <h5>数据稽核</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-three6"></div>
                            <h5>元数管理</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-three7"></div>
                            <h5>资产配置</h5>
                        </li>
                        <li>
                            <div class="mar-auto caseicons-three8"></div>
                            <h5>资产服务</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">服务价值</div>
                    <div class="case">SERVICE VALUE</div>
                </div>
                <div class="planlist clearfix">
                    <ul>
                        <li class="plist">
                            <span class="li-bg">ONE</span>
                            <div class="li-con">
                                <h5>加强产研学一体化应用创新</h5>
                                <p>通过一站式数据资产管理服务平台功能结合教学基础知识材料，支撑大数据应用科研工作落地，提升教师与学生的科研创新能力</p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">TWO</span>
                            <div class="li-con">
                                <h5>提升大数据专业教学成效</h5>
                                <p class="nopad">提供给学生的实训功能操作平台，可以在短时间内掌握大数据专业基础技术组件安装配置与程序研发的能力，持续提升专业教学应用效果</p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">THREE</span>
                            <div class="li-con">
                                <h5>提升数据资产创新服务中心运营能力</h5>
                                <p>以大数据平台为基础，扩展数据资产应用带动专业建设和人才培养，建立学院大数据自助分析与服务能力，支撑数据资产创新服务中心的业务运营能力</p>
                            </div>
                        </li>
                        <li class="plist">
                            <span class="li-bg">FOUR</span>
                            <div class="li-con">
                                <h5>增加大数据应用服务能力</h5>
                                <p class="nopad">
                                    发挥数据资产管理平台中大数据处理、多维模型开发及数据资产服务的基础能力，支撑创新中心对内开展学院系统数据融合、综合分析与业务创新服务，对外承接产业大数据管理与分析需求的项目机会，增强本学院在全国高校联盟的大数据专业服务品牌
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./caseContantTwo.html">
                        <span class="iconfont icon-jiantou2-copy-copy"></span>
                        <img src="./../images/case_img2.png" alt="">
                        <p>某股份制银行数据资产治理与运营服务中台</p>
                    </a>
                </li>
                <li>
                    <a href="./caseContantFour.html">
                        <img src="./../images/case_img4.png" alt="">
                        <p>某国有银行智慧金融应用服务系统</p>
                        <span class="iconfont icon-jiantou2-copy"></span>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>