<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <img src="../images/logo.png" alt="logo">
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="javascript:void(0)">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./production.html">Insight-数据智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia-智慧应用服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir-人工智能服务平台</a></li>
                                    <li><a href="./rig.html">Rig-生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0)" class="active">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-company">
            <div class="sub-banner-text">
                <p>关于我们</p>
                <p class="banner-dis">用数据洞察商业、让AI创造价值
                </p>
            </div>
        </div>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">公司介绍</div>
                    <div class="case">COMPANY INTRODUCTION</div>
                </div>
                <div class="postlist company">
                    <div class="company-pic">
                        <img src="../images/us_img1.png" alt="">
                    </div>
                    <div class="com-discript">
                        <div class="jetthinker">JETTHINKER</div>
                        <div class="jet-con">
                            <h6>中科捷信</h6>
                            <p>北京中科捷信信息技术有限公司，专注于企业级数据治理、数据资产服务和人工智能应用平台的研发和解决方案服务，建立端到端的数据资产应用与服务的全生命周期管理体系，是国内领先的数据资产平台、人工智能应用平台和智慧应用服务平台软件服务供应商。公司建立自主知识产权的多条产品线：数据资产管理服务平台（InSight）、人工智能应用平台（Mimir）、智慧应用服务平台（Gaia）、生物特征识别服务平台（Rig），并拥有多项技术专利。</p>
                            <div class="icon-comma-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- our team -->
        <section class="our-team">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">我们的团队</div>
                    <div class="case">OUR TEAM</div>
                </div>
                <div class="team-list">
                    <ul>
                        <li>
                            <img src="../images/us_img2.png" alt="">
                            <h5>创新</h5>
                            <p>一支集合众多创客和极客的知识型团队</p>
                        </li>
                        <li>
                            <img src="../images/us_img3.png" alt="">
                            <h5>专业</h5>
                            <p>汇聚多年从业经验的资深业务专家和数据专家</p>
                        </li>
                        <li>
                            <img src="../images/us_img4.png" alt="">
                            <h5>专注</h5>
                            <p>为全球客户提供领先的全场景智慧应用解决方案</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="advert">
            <div class="content-box">
                <ul>
                    <li>
                        <h4>愿景</h4>
                        <p>致力于成为全球领先的智慧生态构建者</p>
                    </li>
                    <li>
                        <h4>使命</h4>
                        <p>用数据洞察商业、让AI创造价值</p>
                    </li>
                </ul>
            </div>
        </section>          
        <!-- honor -->
        <section class="partner">
            <div class="clearfix">
                <div class="titles">资质荣誉</div>
                <div class="case">QUALIFICATION</div>
            </div>
            <div class=" swiper-container swc-product honor-list">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><img src="./../images/us_zizhi1.png" alt=""></li>
                    <li class="swiper-slide"><img src="./../images/us_zizhi2.png" alt=""></li>
                    <li class="swiper-slide"><img src="./../images/us_zizhi3.png" alt=""></li>
                    <li class="swiper-slide"><img src="./../images/us_zizhi4.png" alt=""></li>
                    <li class="swiper-slide"><img src="./../images/us_zizhi1.png" alt=""></li>
                </ul>
                <!-- Add Arrows -->
                <div class="swiper-button-next"><span class="iconfont icon-jiantou2-copy"></span></div>
                <div class="swiper-button-prev"><span class="iconfont icon-jiantou2-copy-copy"></span></div>
            </div>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="#">数据服务</a></li>
                    <li><a href="#">智能服务</a></li>
                    <li><a href="#">人工智能</a></li>
                    <li><a href="#">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="#">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="#">中科捷信</a></li>
                    <li><a href="#">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua icon-phone"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang icon-mail"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-home icon-addr"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="
                    关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>