<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-info-one">
            <div class="sub-banner-text">
                <h3>捷信资讯中心</h3>
                <p class="banner-dis">用数据洞察商业，让AI创造价值</p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- info content -->
        <section class="info-content">
            <h4>祝贺中科捷信取得4项计算机软件著作权</h4>
            <div class="time">2019-03-11</div>
            <div class="info-con">
                    <h5>经中华人民共和国国家版权局考证，根据《中华人民共和国计算机软件保护条例》和《计算机软件著作权登记办法》的规定，中科捷信于2019年03月11日，取得计算机软件著作权登记证书4项。 </h5> 
                    <p>• Gaia-WBH 智慧银医服务平台V1.0（简称：Gaia-WBH） 
                        <br>• Gaia 智慧应用PaaS服务平台V1.0（简称：Gaia） 
                        <br>• Rig 生物认证服务平台V1.0（简称：Rig） 
                        <br>• Rig-VIP VIP客户识别系统V1.0（简称：Rig-VIP） 
                    </p>
                    <div class="pictrues">
                        <img src="./../images/us_zizhi1.png" alt="">
                        <img src="./../images/us_zizhi1.png" alt="">
                        <img src="./../images/us_zizhi1.png" alt="">
                        <img src="./../images/us_zizhi1.png" alt="">
                    </div>
                    <h5>一、Gaia-WBH 智慧银医服务平台V1.0（简称：Gaia-WBH）</h5> 
                    <p>致力于通过"金融+AI+移动医疗"，为每个人和每个家庭提供精准医疗服务和健康管家服务。
                    为用户提供智能挂号、就诊缴费、健康体检、问诊咨询、一键复诊、智能就诊出行、医疗贷款等一站式健康医疗解决方案。 
                    </p>
                    <h5>二、Gaia 智慧应用PaaS服务平台V1.0（简称：Gaia）</h5> 
                    <p>Gaia 智慧应用PaaS服务平台V1.0（简称：Gaia）以金融为核心、信息服务为引导，借助大数据与AI技术快速搭建大数据赋值、AI赋能的智慧应用服务平台，构建多资源、多信息、多层次的三次元“金融+全场景”的业务生态圈。将精准营销、智能投顾、反欺诈、智能客服、智慧信用等AI服务应用到业务场景中，由传统的单点服务转变为随需服务，从而提升用户使用金融产品的意愿。实现多场景、多纬度的获客、活客、留客，助力金融企业落地智慧银行。 
                    </p>
                    <h5>三、Rig 生物认证服务平台V1.0（简称：Rig）</h5> 
                    <p>Rig 生物认证服务平台V1.0（简称：Rig）向下对接各类生物特征识别算法，向上支撑全场景生物认证业务需求，管理全生命周期的生物数据。利用生物识别技术进行身份认定，满足企业不同等级风控要求，同时可以极大提高使用满意度，简化认证的复杂度，提高企业的获客能力，增加用户交易量，为企业创造更大的价值。 
                    </p>
                    <h5>四、Rig-VIP VIP客户识别系统V1.0（简称：Rig-VIP）</h5> 
                    <p>Rig-VIP VIP客户识别系统V1.0（简称：Rig-VIP）将已识别的人脸信息与本系统中的客户信息进行匹配，并将匹配成功的VIP客户信息推送到营业厅大堂经理的营销pad，辅助大堂经理进行客户识别、机会识别、引导分流、营销转介等，辅助银行开发、营销和维护中高端客户，持续提升网点综合效能，增强企业的核心竞争力
                    </p>
                </div>
        </section>
        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./infoContantTwo.html">
                        <img src="./../images/us_new2.png" alt="">
                        <p>祝贺中科捷信取得2项计算机软件著作权</p>
                        <span class="iconfont icon-jiantou2-copy"></span>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>