<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-info-three">
            <div class="sub-banner-text">
                <h3>捷信资讯中心</h3>
                <p class="banner-dis">用数据洞察商业，让AI创造价值</p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- info content -->
        <section class="info-content">
            <h4>中科技新获得ISO9000质量管理体系认证</h4>
            <div class="time">2019-03-11</div>
            <div class="info-con">
                    <h5> 作为专业数据智能产品服务提供商，中科捷信于2019年01月获得了ISO9001质量管理体系审核，并获得证书。 </h5> 
                    <div class="pictrues">
                        <img src="./../images/us_zizhi7.png" alt="">
                        <img src="./../images/us_zizhi8.png" alt="">
                    </div>
                    <p>ISO9001标准是国际标准化组织（ISO）于1987年颁布的在全世界范围内通用的关于质量管理和质量保证方面的系列标准。
                        1994年和2000年，国际标准化组织对其分别进行了全面的修改，并重新颁布实施。该系列标准目前已被90多个国家等同或等效采用，
                        是全世界最通用的国际标准。由于ISO颁布的标准在世界上具有很强的权威性、指导性和通用性，所以对世界标准化的进程起着十分重要的作用，同时ISO9001的认证也在全球拥有广泛深刻的影响。 以客户为中心，坚持科研投入和技术创新一直是中科捷信的宗旨，
                        也是中科捷信获得市场及质量管理体系认可的关键因素。未来，中科捷信将继续努力，为客户提供更优质的产品，为社会的发展贡献自己的力量！ 
                    </p>
                    <h5>关于中科捷信</h5> 
                    <p>中科捷信，聚焦金融行业，为金融企业提供覆盖企业级数据治理、数据资产管理、人工智能服务及智慧应用等端到端智能服务和全场景智慧解决方案。拥有数据资产管理服务平台InSight、人工智能应用平台Mimir、智慧应用服务平台Gaia、生物特征识别服务平台Rig等多项自主知识产权产品，与金融企业携手拥抱金融科技，助力金融企业在数字经济时代实现数字化转型。
                    </p>
                </div>
        </section>
        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./infoContantTwo.html">
                        <span class="iconfont icon-jiantou2-copy-copy"></span>
                        <img src="./../images/us_new2.png" alt="">
                        <p>某商业银行生物识别系统建设</p>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>