<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html" class="active">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span>
                                <div class="role"></div>
                            </a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-info-two">
            <div class="sub-banner-text">
                <h3>捷信资讯中心</h3>
                <p class="banner-dis">用数据洞察商业，让AI创造价值</p>
                <!-- <div class="but-consult"><a href="#">立即咨询</a></div> -->
            </div>
        </div>
        <!-- info content -->
        <section class="info-content">
            <h4>祝贺中科捷信取得2项计算机软件著作权</h4>
            <div class="time">2019-03-11</div>
            <div class="info-con">
                    <h5>经中华人民共和国国家版权局考证，根据《中华人民共和国计算机软件保护条例》和《计算机软件著作权登记办法》的规定，中科捷信于2019年03月08日，取得计算机软件著作权登记证书2项。 </h5> 
                    <p>• InSight 数据资产管理服务平台V1.0（简称：InSight） 
                        <br>• Rig-BCR 人脸识别系统V1.0（简称：Rig-BCR
                    </p>
                    <div class="pictrues">
                        <img src="./../images/us_zizhi1.png" alt="">
                        <img src="./../images/us_zizhi1.png" alt="">
                    </div>
                    <h5>一、InSight 数据资产管理服务平台V1.0（简称：InSight）</h5> 
                    <p>InSight 数据资产管理服务平台(以下简称InSight)是一站式数据资产管理服务平台，助力企业快速构建企业级大数据资产应用生态服务体系，形成企业级数据采集、数据存储计算、数据质量治理、数据资产管理、数据资产服务与智能应用的闭环。在大数据时代，“数据即资产”对数据资产规范、有效地管理与服务有助于加快企业从数据到业务的价值实现，增强企业的核心竞争力。 
                    </p>
                    <h5>二、Rig-BCR 人脸识别系统V1.0（简称：Rig-BCR）</h5> 
                    <p>人脸识别系统是一个分布式生物认证系统，对外提供统一的、标准化的、易用的、非入侵式的认证接口，可解决企业的不同的需求，包括：整合和管理不同类型的生物识别技术、整合和管理同一生物识别技术不同厂家的算法、不同类型的生物特征数据进行统一管理、数据可视化管理、计算节点运行监控等。
                    </p>
                </div>
        </section>
        <!--cases page links-->
        <section class="pagelinks">
            <ul>
                <li>
                    <a href="./infoContantOne.html">
                        <span class="iconfont icon-jiantou2-copy-copy"></span>
                        <img src="./../images/us_new1.png" alt="">
                        <p>某国有银行数据资产管理服务平台</p>
                    </a>
                </li>
                <li>
                    <a href="./infoContantThree.html">
                        <img src="./../images/us_new3.png" alt="">
                        <p>中科技新获得ISO9000质量管理…</p>
                        <span class="iconfont icon-jiantou2-copy"></span>
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>