<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <img src="../images/logo.png" alt="logo">
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a href="javascript:void(0)">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./production.html">Insight-数据智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia-智慧应用服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir-人工智能服务平台</a></li>
                                    <li><a href="./rig.html">Rig-生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0)" class="active">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-joinus">
            <div class="sub-banner-text">
                <p>加入我们</p>
                <p class="banner-dis">不忘初心 砥砺前行 没有梦想 何必远方
                </p>
            </div>
        </div>
        <!-- RECRUITING -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">招贤纳士</div>
                    <div class="case">RECRUITING</div>
                </div>
                <div class="postlist">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                <h5>中级JAVA开发工程师</h5>
                                <p>1. 理解客户需求，组织完成产品的概要设计和详细设计文档的编写； 
                                    <br>2. 负责大数据管理平台JAVA后端产品的设计和核心代码开发工作，保障系统平台的高可用、高性能； 
                                    <br>…
                                </p>
                                <div class="links"><span class=" animate-button iconfont icon-07jiantouxiangyoufill"></span></div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h5>中级JAVA开发工程师</h5>
                                <p>1. 理解客户需求，组织完成产品的概要设计和详细设计文档的编写； 
                                    <br>2. 负责大数据管理平台JAVA后端产品的设计和核心代码开发工作，保障系统平台的高可用、高性能； 
                                    <br>…
                                </p>
                                <div class="links"><span class=" animate-button iconfont icon-07jiantouxiangyoufill"></span></div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h5>中级JAVA开发工程师</h5>
                                <p>1. 理解客户需求，组织完成产品的概要设计和详细设计文档的编写； 
                                    <br>2. 负责大数据管理平台JAVA后端产品的设计和核心代码开发工作，保障系统平台的高可用、高性能； 
                                    <br>…
                                </p>
                                <div class="links"><span class=" animate-button iconfont icon-07jiantouxiangyoufill"></span></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="#">数据服务</a></li>
                    <li><a href="#">智能服务</a></li>
                    <li><a href="#">人工智能</a></li>
                    <li><a href="#">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="#">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="#">中科捷信</a></li>
                    <li><a href="#">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua icon-phone"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang icon-mail"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-home icon-addr"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="
                    关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>