<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <META http-equiv="X-UA-Compatible" content="IE=8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>中科捷信</title>     
    <link rel="shortcut icon" href="./../jetthinker.ico" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../js/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../less/subpage.css">
    <link rel="stylesheet" type="text/css" href="../font/iconfont.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/swiper.min.js"></script>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="headCon_box">
                <div class="logo">
                    <a href="./../index.html"><img src="./../images/logo.png" alt="logo"></a>
                </div>
                <nav class="menulist f_right">
                    <ul>
                        <li><a href="../index.html">首页<div class="role"></div></a></li>
                        <li><a class="active" href="./production.html">产品中心<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./insight.html">Insight&nbsp;数据资产服务平台</a></li>
                                    <li><a href="./mimir.html">Mimir&nbsp;人工智能服务平台</a></li>
                                    <li><a href="./gaia.html">Gaia&nbsp;智慧应用服务平台</a></li>
                                    <li><a href="./rig.html">Rig&nbsp;生物认证服务平台</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="./industry.html">行业应用<div class="role"></div></a></li>
                        <li><a href="./cases.html">成功案例<div class="role"></div></a></li>
                        <li><a href="javascript:void(0);">关于我们<span class="iconfont icon-jiantou2"></span><div class="role"></div></a>
                            <div class="sub_menu">
                                <ul>
                                    <li><a href="./company.html">企业介绍</a></li>
                                    <li><a href="./information.html">资讯中心</a></li>
                                    <li><a href="./joinUs.html">招贤纳士</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- banner -->
        <div class="sub-banner banner-rig">
            <div class="sub-banner-text">
                <p>生物认证服务平台</p>
                <p class="banner-dis">生物认证服务平台满足企业不同等级风控要求，结合大数据和AI技术，帮助企业提升获客能力，提升用户体验。
                </p>
                <div class="but-consult"><a href="#">立即咨询</a></div>
            </div>
        </div>
        <!-- PRODUCT CENTER -->
        <section class="success-case">
            <div class="case-con">
                <div class="clearfix">
                    <div class="titles">产品介绍</div>
                    <div class="case">PRODUCT CENTER</div>
                </div>
                <div class="pro-discript">
                    <p>
                        生物特征识别应用服务平台向下对接各类生物特征识别算法，向上支撑全场景生物认证业务需求，管理全生命周期的生物数据。利用生物识别技术进行身份认定，满足企业不同等级风控要求，同时可以极大提高使用满意度，简化认证的复杂度，提高企业的获客能力，增加用户交易量，为企业创造更大的价值。
                    </p>
                </div>
            </div>
        </section>
        
        <!--产品特点-->
        <div class="pro-feature">
            <div class="feature-con">
                <div class="clearfix">
                    <div class="titles">产品特点</div>
                    <div class="case">Product features</div>
                </div>
                <div class="flist">
                    <div class="part-four">
                        <span class="iconfont icon-size icon-renlianshibie"></span>
                        <p>多生物特征认证服务</p> 
                    </div>
                    <div class="part-list">
                        <div class="common-block"></div>
                        <div class="common-block block-gray">
                            <span class="iconfont icon-jiangdichengben"></span>
                            <p>低成本易扩展</p> 
                        </div>
                        <div class="common-block"></div>
                        <div class="common-block"></div>
                        <div class="common-block block-gray">
                            <span class="iconfont icon-anquan"></span>
                            <p>易用安全可靠服务</p> 
                        </div>
                        <div class="common-block"></div>
                        <div class="common-block block-white">
                            <span class="iconfont icon-wangluo"></span>
                            <p>系统功能体验友好</p> 
                        </div>
                        <div class="common-block block-blue">
                            <span class="iconfont icon-kujialeqiyezhan_guanlibiaozhunhua"></span>
                            <p>标准化API服务</p> 
                        </div>
                        <div class="common-block"></div>
                        <div class="common-block block-blue">
                            <span class="iconfont icon-kucun"></span>
                            <p>生物特征库统一管理</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--产品展示-->
        <div class="show-product">
            <div class="clearfix">
                <div class="titles">产品展示</div>
                <div class="case">Product display</div>
            </div>
            <div class="product_box">
                <a href="javascript:void(0);"><img src="../images/product_img10.png" alt=""></a>
                <a href="javascript:void(0);"><img src="../images/product_img11.png" alt=""></a>
                <a href="javascript:void(0);"><img src="../images/product_img12.png" alt=""></a>
            </div>
        </div>
        <footer>
            <div class="jetlist clearfix">
                <ul>
                    <h5>产品中心</h5>
                    <li><a href="./insight.html">数据服务</a></li>
                    <li><a href="./gaia.html">智能服务</a></li>
                    <li><a href="./mimir.html">人工智能</a></li>
                    <li><a href="./rig.html">生物识别</a></li>
                </ul>
                <ul>
                    <h5>行业应用</h5>
                    <li><a href="./industry.html">全行业解决方案</a></li>
                </ul>
                <ul class="noborder">
                    <h5>关于我们</h5>
                    <li><a href="./company.html">中科捷信</a></li>
                    <li><a href="./joinUs.html">加入我们</a></li>
                </ul>
                <div class="jetthinker f_left">
                    <img src="../images/logo.png" alt="JetThinker">
                    <h5>北京中科捷信科技有限公司</h5>
                    <p>
                        <span class="iconfont icon-dianhua"></span>
                        177-8888-4666
                    </p>
                    <p>
                        <span class="iconfont icon-youxiang"></span>
                        zhengliuna@jetthinke
                    </p>
                    <p>
                        <span class="iconfont icon-weizhi"></span>
                        北京市海淀区洛克时代中心B座
                    </p>
                </div>
                <div class="qr_code f_right">
                    <img src="../images/home-erweima.png" alt="关注微信公众号">
                    <p>关注微信公众号</p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright©2019 北京中科捷信信息科技有限公司 | 京ICP备18023351号-1 All Rights Reserved.</p>
            </div>
        </footer>
        <!--top-->
        <div class="top">
            <a href="javascript:scroll(0,0)"><span class="iconfont icon-icon_arrow_top"></span></a> 
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>